.Toastify__toast--success {
  background: #10b981; // Màu xanh success của bạn
  color: #fff;
  border-radius: 12px;
}
.Toastify__toast--error {
  background: #ef4444; // Màu đỏ danger
  color: #fff;
  border-radius: 12px;
}

section {
    padding: 0 20px;
}